@import "_variables.scss";

* {
    padding: 0px;
    margin: 0px;
    background:#221100;
    text-align: center;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    border-bottom: 5px double $border;
    div:nth-child(1){
        align-items: center;
    }
    div:nth-child(2){
        align-items: center;
    }
    div:nth-child(3){
        align-items: center;
    }
}
.logo {
    height: 105;
    width: 15%;
}

.headerInfo {
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: $txt-color;
    padding-bottom: 10px;
    cursor: default;
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    to {
        text-shadow: 0 0 18px #00cc7e;
    }
}

ul {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style: none;
    color: $tab-color;
    font-size: 22px;
    font-weight: lighter;
    padding-bottom: 40px;
    cursor: pointer;
}

.about {
    margin: 0 400px;
    color: $txt-color;
    h1{
        padding-bottom: 60px;
        text-decoration: underline;
    }
    p{
        font-size: 18px;
        text-align: left;
    }
    img{
        padding-top: 50px;
        width: 50%;
        border-radius: 5px;
    }
}