@import "_variables.scss";

* {
    padding: 0px;
    margin: 0px;
    background:#221100;
    text-align: center;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    border-bottom: 5px double #7c543e63;
    div:nth-child(1){
        align-items: center;
    }
    div:nth-child(2){
        align-items: center;
    }
    div:nth-child(3){
        align-items: center;
        width: 20%
    }
}
.logo {
    height: 105;
    width: 15%;
}

.headerInfo {
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #dbdbdb;
    padding-bottom: 10px;
    cursor: default;
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    to {
        text-shadow: 0 0 18px #00cc7e;
    }
}

ul {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style: none;
    color: #018652;
    font-size: 16px;
    font-weight: lighter;
}